*{
	margin: 0px;
	box-sizing: border-box;
}

h1{
	margin: 30px;
	text-align: center;
}

.row{
	margin: 8px;
	width: 100%;
}

#title1{
	background: pink;
	font-size: 2em;
	position: relative;
	border: 1px solid black;
	float: right;
	clear: left;
	padding: 2px 6px 2px 6px;
	top: 0px;

}
#title2{
	background: red;
	font-size: 2em;
	position: relative;
	border: 1px solid black;
	float: right;
	clear: left;
	padding: 2px 6px 2px 6px;
	top: 0px;

}
#title3{
	background: yellow;
	font-size: 2em;
	position: relative;
	border: 1px solid black;
	float: right;
	clear: left;
	padding: 2px 6px 2px 6px;
	top: 0px;

}


#source{
	clear: both;
	margin: 10px;
	background: gray;
}



@media  (min-width: 768px) and (max-width: 992px) {
	.col1{
	position: relative;
	width: 40%;
	background: gray;
	border: 1px solid black;
	position: 5px;
	float: left;
	margin: 10px;
}
.col2{
	position: relative;
	width: 40%;
	background: gray;
	border: 1px solid black;
	position: 5px;
	float: left;
	margin: 10px;
}
.col3{
	position: relative;
	width: 82.3%;
	background: gray;
	border: 1px solid black;
	position: 5px;
	float: left;
	margin: 10px;
}

}
@media (min-width: 992px) {
	.col1{
	position: relative;
	width: 31%;
	background: gray;
	border: 1px solid black;
	position: 5px;
	float: left;
	margin: 10px;
}
.col2{
	position: relative;
	width: 31%;
	background: gray;
	border: 1px solid black;
	position: 5px;
	float: left;
	margin: 10px;
}
.col3{
	position: relative;
	width: 31%;
	background: gray;
	border: 1px solid black;
	position: 5px;
	float: left;
	margin: 10px;
}






}
@media (max-width: 768px ){
	.col1{
	position: relative;
	width: 82%;
	background: gray;
	border: 1px solid black;
	position: 5px;
	float: left;
	margin: 10px;
}
.col2{
	position: relative;
	width: 82%;
	background: gray;
	border: 1px solid black;
	position: 5px;
	float: left;
	margin: 10px;
}
.col3{
	position: relative;
	width: 82%;
	background: gray;
	border: 1px solid black;
	position: 5px;
	float: left;
	margin: 10px;
}